= image_tag @case_study.header_image.url if @case_study.header_image?
%h1
  = @case_study.title
.lead
  = markdown(@case_study.intro)
= markdown(@case_study.body)

- if @case_study.skills.present?
  %h2 Skills
  - @case_study.skills.each do |skill|
    .col-md-4.case-study-skill
      %h3= link_to skill.title, admin_skill_path(skill)
  .clearfix

- if @case_study.gallery_images.present?
  %h2 Gallery
  - @case_study.gallery_images.each do |image|
    - if image.title.present?
      %h3= image.title
    = image_tag image.image.url, class: 'img-responsive'