.row-fluid
  .col-md-8
    = form.input :title, autofocus: true, placeholder: 'Give Cat', class: 'form-control'

    - if @case_study.header_image?
      .well
        = image_tag @case_study.header_image.url, class: 'img-responsive'

      .lead
        = form.check_box :remove_header_image
        Remove header image
    = form.input :header_image, input_html: { accept: '.jpg,.jpeg,.gif,.png' }

    .form-group
      .col-sm-6.pull-left
        = form.label :intro
        %abbr{ class: 'glyphicon glyphicon-sunglasses', title: 'MarkDown enabled' }
      .col-sm-6.pull-right.text-right
        = link_to '', 'http://kramdown.gettalong.org/quickref.html', class: 'glyphicon glyphicon-question-sign'
      = form.text_area :intro, placeholder: 'Lorem Ipsum Dolor Sit Amit... (max-length 300)', class: 'form-control', maxsize: 300

.row-fluid
  .col-md-8
    .form-group
      .col-sm-6.pull-left
        = form.label :body
        %abbr{ class: 'glyphicon glyphicon-sunglasses', title: 'MarkDown enabled' }
      .col-sm-6.pull-right.text-right
        = link_to '', 'http://kramdown.gettalong.org/quickref.html', class: 'glyphicon glyphicon-question-sign'
      = form.text_area :body, placeholder: 'Lorem Ipsum Dolor Sit Amit...', class: 'form-control', rows: 14
  .col-md-4
    .well
      %h2 Note:
      %p.lead
        Consider your content.
      %p
        The main body for a case study needs to be interesting and rich.
      %p
        Break up any large chunks of text. Use bold and italic sparingly and link often.
      %p
        Think about SEO. This section will be picked out by search engines. It's important to get this right. Your product is you, and what you can do.
.row-fluid
  .col-md-8
    = form.association :skills
.row-fluid
  .col-md-8
    .form-group
      .col-sm-12
        = form.label 'Gallery Images'
      .clearfix
      %table.table.table-hover
        %thead
          %tr
            %th Image
            %th Controls
        %tbody
          = form.fields_for :gallery_images do |gallery_image|
            %tr{ id: "gallery-image-#{gallery_image.object.id}" }
              %td
                - if gallery_image.object.title.present?
                  %h3= gallery_image.object.title
                = image_tag gallery_image.object.image.url, class: 'img-responsive'
              %td
                = gallery_image.check_box :remove_image
                %label.glyphicon.glyphicon-trash
                %hr
                %span.glyphicon.glyphicon-pencil
                = link_to 'Edit', edit_admin_case_study_gallery_image_path(gallery_image.object)

          - if @case_study.gallery_images.empty?
            %tr
              %td{ colspan: 2 } No gallery images at the moment. Add one below.
      .col-sm-12
        = form.label :image, 'Add Images'
      .clearfix
      = form.file_field :image, :multiple => true, name: 'case_study_gallery_images[images][]', accept: '.jpg,.jpeg,.gif,.png'
.row-fluid
  .col-xs-6.text-left
    = link_to 'Back to Case Studies', admin_case_studies_path, class: 'btn btn-lg btn-default'
  .col-xs-6.text-right
    = link_to '<span class="glyphicon glyphicon-trash"></span><span class="sr-only"> Delete</span>'.html_safe, admin_case_study_path(@case_study), method: :delete, class: 'btn btn-lg btn-default btn-danger', data: { confirm: 'Are you sure you want to delete this case study? This is PERMANENT!' } unless @case_study.new_record?
    = form.submit 'Save', class: 'btn btn-lg btn-success'