.row
  .col-md-8
    .form-group
      .col-sm-12
        = f.label :title
      = f.text_field :title, autofocus: true, placeholder: 'Give Cat', class: 'form-control'

    .form-group
      .col-sm-12
        = f.label :header_image
      .clearfix
      - if @project.header_image?
        .well
          = image_tag @project.header_image.url, class: 'img-responsive'

        .lead
          = f.check_box :remove_header_image
          Remove header image
      = f.file_field :header_image

    .form-group
      .col-sm-6.pull-left
        = f.label :intro
        %abbr{ class: 'glyphicon glyphicon-sunglasses', title: 'MarkDown enabled' }
      .col-sm-6.pull-right.text-right
        = link_to '', 'http://kramdown.gettalong.org/quickref.html', class: 'glyphicon glyphicon-question-sign'
      = f.text_area :intro, placeholder: 'Lorem Ipsum Dolor Sit Amit... (max-length 300)', class: 'form-control', maxsize: 300

.row
  .col-md-8
    .form-group
      .col-sm-6.pull-left
        = f.label :body
        %abbr{ class: 'glyphicon glyphicon-sunglasses', title: 'MarkDown enabled' }
      .col-sm-6.pull-right.text-right
        = link_to '', 'http://kramdown.gettalong.org/quickref.html', class: 'glyphicon glyphicon-question-sign'
      = f.text_area :body, placeholder: 'Lorem Ipsum Dolor Sit Amit...', class: 'form-control', rows: 14
  .col-md-4
    .well
      %h2 Note:
      %p.lead
        Consider your content.
      %p
        The main body for a project needs to be interesting and rich.
      %p
        Break up any large chunks of text. Use bold and italic sparingly and link often.
      %p
        Think about SEO. This section will be picked out by search engines. It's important to get this right. Your product is you, and what you can do.