= image_tag @project.header_image.url if @project.header_image?
%h1
  = @project.title
.lead
  = markdown(@project.intro)
= markdown(@project.body)

- if @project.gallery_images.present?
  %h2 Gallery
  - @project.gallery_images.each do |image|
    - if image.title.present?
      %h3= image.title
    = image_tag image.image.url, class: 'img-responsive'