<% content_for :title, 'Change your password : Matt Rayner' %>
<% content_for :modal_title, 'Change your password' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.label :password, 'New password', class: 'sr-only' %><br />
  <%= f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'New Password', class: 'form-control' %>

  <%= f.label :password_confirmation, 'Confirm new password', class: 'sr-only' %><br />
  <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password Confirmation', class: 'form-control' %>

  <div class="actions">
    <%= f.submit 'Change my password', class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
