%footer.footer
  .container
    .row
      .col-md-4.hidden-sm.hidden-xs
        = link_to 'Matt Rayner', root_url, class: 'mattrayner-gem-logo ir'
      .col-md-4.col-sm-6
        - unless @fitbit_stats.nil?
          %h5 Breaking a sweat
          %p I'm not just a desk jockey.
          .row-fluid
            %span.footer-steps-content
              %span.footer-steps-logo
              = number_with_delimiter(@fitbit_stats.steps)
              steps.
          .row-fluid
            %span.footer-stairs-content
              %span.footer-stairs-logo
              = @fitbit_stats.floors
              floors.
          .row-fluid
            %span.footer-updated
              Updated
              = distance_of_time_in_words_to_now(@fitbit_stats.created_at)
              ago.
      .col-md-4.col-sm-6
        %h5 Get social
        %p I don't bite!
        .row-fluid
          = link_to 'Facebook', 'http://facebook.com/matthewrayner', class: 'ir social facebook'
          = link_to 'Twitter', 'http://twitter.com/mattrayner', class: 'ir social twitter'
          = link_to 'LinkedIn', 'http://lnkd.in/2sgmCz', class: 'ir social linkedin'
          = link_to 'GitHub', 'http://github.com/mattrayner', class: 'ir social github'
    .row
      .col-md-12
        %p.copyright
          = "Copyright ©#{Time.now.year}"
          = link_to 'Matt Rayner.', root_url