-content_for :title, "Edit #{truncate(@project.title, length: 20)} : Projects : Dashboard : Matt Rayner"

.jumbotron
  %h1
    Edit
    - if @project.title.present?
      = "'#{truncate(@project.title, length: 10)}'"
    - else
      Project
  %p.lead
    Create a project to highlight some portfolio work. Use rich MarkDown to make a project interesting.

= render 'admin/shared/validation', object: @project

= render 'admin/projects/shared/form'