.jumbotron
  %h1
    Project Preview
  %p
    = link_to 'All Projects', admin_projects_path, class: 'btn btn-lg btn-default'
    = link_to 'Edit Project', edit_admin_project_path(@project), class: 'btn btn-lg btn-success pull-right'

%h2
  = @project.title
%p.lead
  = @project.intro
%p
  = @project.body